<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifeix.robot.dao.UserDao">

    <insert id="insertUser" parameterType="User" keyProperty="id">
             insert into user(username,password,logintime,sex,articlenumber)
             values(#{username},#{password},#{logintime},#{sex},#{articlenumber})
    </insert>

</mapper>